/* # a_a */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: consolas;
}

a {
  text-decoration: none;
  color: inherit;
}

/* # a_b */
.window-properties {
  position: fixed;
  bottom: 70px;
  left: 5px;
  font-size: 1rem;
  text-shadow: 0 0 10px white;
  color: white;
}

/* # a_c */
nav {
  position: fixed;
  top: 30px;
  left: 30px;
  background-color: #223;
  list-style: none;
  border: cyan solid .1px;
  border-radius: .5rem;
  padding: 1rem;
}

/* # a_c */
nav li a {
  text-decoration: none;
  font-size: .9rem;
  display: block; /* converter p/ aplicar margin na tag a */
  margin: .4rem 0;
}

/* # a_c [MQ1] */
@media (min-width: 670px) {
  nav {
    display: none;
  }
}

/* # a_d */
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* a_d */
header {
  position: fixed;
  width: 100%;
  background-color: yellowgreen;
  height: 9vh;
}

/* # a_d */
header li {
  /* 
  Grid não aplicado, pois funciona com divs
  A adaptação foi usar outro display 
  */
  display: inline-block;
  list-style: none;
  border: white solid 1px;
  border-radius: .5rem;
  padding: 0.5rem 0.5rem;
  font-size: .6rem;
  transition: ease-in-out 1s;
}

/* # a_d [MQ2] */
@media (max-width: 670px) {
  header {
    display: none;
  }
}

/* # a_d [MQ3] */
@media (min-width: 770px) {
  header li {
    font-size: .7rem;
  }
}

/* # a_d [MQ4] */
@media (min-width: 1200px) {
  header li:nth-child(5),
  header li:nth-child(4),
  header li:nth-child(3),
  header li:nth-child(2),
  header li:nth-child(1) {
    transform: translateX(-220px);
  }

  header li:nth-child(6),
  header li:nth-child(7) {
    transform: translateX(220px);
  }
}

/* # a_e
1) O HTML é feito primeiro p/ versões de dispositivos móveis, 
por isso as propriedades abaixo são configurações para quando a
janela está em (500, 644), e modificada conforme as dimensões
da janela vão sendo alteradas
2) Portanto, é aqui ONDE COMEÇA o uso de MEDIA QUERIES
3) Para caber na tela, as cores são agrupadas em grupos de 2
e recebem ajustes p/ não sobrepor o menu pequeno 
*/
.section-colors {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  align-items: center;
  transition: ease-in-out 1s;
}

/* # a_e: Propriedade "position" aqui se refere a "section-colors" */
.section-colors div {
  position: relative;
  left: 25px;
  text-shadow: 0 0 10px white;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin: 0.2rem .2rem;
  }

/* # a_f */
footer {
  position: relative;
  bottom: -9px;
  background-color: #dfdb14;
  height: 10vh;
  font-weight: bold;
  letter-spacing: .1rem;
}

/* MQ5 # a_g */
@media (min-width: 576px) {
  .section-colors {
    grid-template-columns: repeat(3, 100px);
    position: relative;
    left: 100px;
    top: 20px;
}

  /* # a_f */
  footer {
    position: relative;
    top: 165px;
    width: 102%;
  }
}

/* MQ6 # a_g */
@media (min-width: 670px) {
  .section-colors {
    grid-template-columns: repeat(5, 100px);
    position: relative;
    top: 100px;
    left: -25px;
  }

/* # a_f */
  footer {
    position: relative;
    top: 354px;
    width: 100%;
  }
}

/* MQ7 # a_h */
@media (max-height: 415px) {
  header {
    height: 20vh;
  }
}

/* MQ8 # a_h */
@media (max-height: 175px) {
  header {
    height: 30vh;
  }
}

/* MQ9 # a_h */
@media (max-height: 125px) {
  header {
    height: 40vh;
  }
}

/* MQ10 # a_h */
@media (max-height: 95px) {
  header {
    height: 50vh;
  }
}

/* MQ11 # a_h */
@media (max-height: 75px) {
  header {
    display: none;
  }
}